@font-face {
   font-family: 'myFirstFont';
   src: url('./media/josefinSans/JosefinSans-Regular.ttf') format('truetype');
}

* {
   font-family: myFirstFont;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

nav#navbar_topNav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  height: 9vh;
  position: absolute;
  background-color: #f1c40e;
}

#navbar_divTitoloTopNav {
  display: flex;
  align-items: center;
}

.navbar_divIconeTopNav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_iconeTopNav {
  cursor: pointer;
  width: 9vh;
}

#hamburgerButton {
  width: 4vh;
}

#navbar_titoloTopNav {
  font-size: 8vw;
  margin: 0;
  padding-left: 9vw;
  color: #34495e;
}

#navbar_divSidenav {
  display: grid;
  grid-template-columns: 65vw 35vw;
  width: 0;
  height: 100vh;
  position: inherit;
  top: 9vh;
  background-color: rgba(0,0,0,0.4);
}

#navbar_mySidenav {
  background-color: #f1c40e;
  transition: 0.5s;
  width: 0;
}

#navbar_divChiusuraSidenav {
  width: 0;
}
